<table class="table table-hover">
  <tr>
    <th class="text-center">Symbol</th>
    <th class="text-center">Action</th>
    <th class="text-center">Price</th>
    <th class="text-center">Value</th>
  </tr>
  <% @stocks.each do |s| %>
    <tr>
      <td class='text-center'><%= link_to s.symbol.upcase, stock_path(s.symbol) %></td>
      <td class='text-center'>Buy/sell</td>
      <td class='text-center' id='live_price'>$90.34</td>
      <td class='text-center'>$800.32</td>
    </tr>
  <% end %>
</table>